---
site_name: Scrapli Netconf
site_url: https://github.com/scrapli/scrapli_netconf
site_description: "Scrapli Netconf: fast, flexible, sync or async, Netconf client built on top of scrapli"
site_author: Carl Montanari

repo_name: scrapli/scrapli_netconf
repo_url: https://github.com/scrapli/scrapli_netconf
edit_uri: ''

theme:
    name: material
    palette:
      primary: 'black'
      accent: 'teal'
    icon:
      repo: fontawesome/brands/github-alt

nav:
  - Scrapli Netconf: index.md
  - User Guide:
      - Quick Start Guide: user_guide/quickstart.md
      - Project Details: user_guide/project_details.md
      - Versioning: user_guide/versioning.md
      - Installation: user_guide/installation.md
      - Basic Usage: user_guide/basic_usage.md
      - Advanced Usage: user_guide/advanced_usage.md
      - FAQ: user_guide/faq.md
  - API Docs:
    - Driver:
      - Base Driver: api_docs/driver/base_driver.md
      - Sync Driver: api_docs/driver/sync_driver.md
      - Async Driver: api_docs/driver/async_driver.md
    - Channel:
      - Base Channel: api_docs/channel/base_channel.md
      - Sync Channel: api_docs/channel/sync_channel.md
      - Async Channel: api_docs/channel/async_channel.md
    - Transports:
      - Plugins:
        - Asyncssh: api_docs/transport/plugins/asyncssh.md
        - Paramiko: api_docs/transport/plugins/paramiko.md
        - SSH2: api_docs/transport/plugins/ssh2.md
        - System: api_docs/transport/plugins/system.md
    - Constants: api_docs/constants.md
    - Exceptions: api_docs/exceptions.md
    - Helper: api_docs/helper.md
    - Response: api_docs/response.md
  - Changelog: changelog.md
  - More Scrapli:
    - Nornir Scrapli: more_scrapli/nornir_scrapli.md
    - Scrapli Community: more_scrapli/scrapli_community.md
    - Scrapli: more_scrapli/scrapli.md
    - Scrapli Stubs: more_scrapli/scrapli_stubs.md
  - Other:
    - Contributing: about/contributing.md
    - Code of Conduct: about/code_of_conduct.md

markdown_extensions:
    - toc:
        permalink: True
    - admonition
    - codehilite
    - extra
    - mdx_gh_links:
        user: mkdocs
        repo: mkdocs

extra:
    social:
        - icon: fontawesome/brands/github-alt
          link: 'https://github.com/carlmontanari/'
        - icon: fontawesome/brands/twitter
          link: 'https://twitter.com/carlrmontanari'
        - icon: fontawesome/brands/linkedin
          link: 'https://www.linkedin.com/in/carl-montanari-47888931/'
        - icon: fontawesome/solid/globe
          link: 'https://montanari.io'

plugins:
    - search
