nox==2020.8.22
black==20.8b1
isort==5.5.3
mypy==0.782
pytest==6.0.2
pytest-cov==2.10.1
pyfakefs==4.1.0
pylama==7.7.1
pycodestyle>=2.6.0
pydocstyle==5.1.1
pylint==2.6.0
darglint==1.5.4
pdoc3==0.9.1 ; sys_platform != "win32"
-e git+https://github.com/scrapli/scrapli_stubs@master#egg=scrapli_stubs
-r requirements.txt
